.app-footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $homeClr1;
  color: $sClr3;
  padding: 1.3em 5em;
  border-top: 1px solid $sClr2;
  margin-block-start: rem(20px);

  @media screen and (max-width: 768px) {
    padding: 1.3em 2em;
  }

  @media screen and (max-width: 580px) {
    padding: 1.3em 1em;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 400px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
    }

    p {
      font-size: 14px;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      @media screen and (max-width: 580px) {
        font-size: 10px;
      }
    }

    .default-logo {
      font-weight: 900;
      letter-spacing: 2px;
    }
  }
}
