.simple-chat-container {
  z-index: 999;
  position: fixed;
  bottom: 10px;
  right: 40px;
  .btn-open-chat {
    color: $homeClr2;
    padding: rem(12px);
    background-color: $clr5;
    font-size: 50px;
    border-radius: 40%;
    transition: 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: darken($clr5, 20%);
    }
  }
  .chat-container {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: rem(250px);
    min-height: rem(300px);
    border-radius: rem(6px);
    background-color: $homeClr6;
    font-size: 15px;

    .chat-header {
      border-radius: rem(6px) rem(6px) 0 0;
      padding: rem(10px);
      background-color: $tools-color;

      .agent-icon {
        font-size: 1.8rem;
        color: $theme-color;
      }

      h3 {
        font-size: 1.5rem;
        color: $sClr6;
        margin-inline-start: rem(10px);
      }
    }

    .chat-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 5px;

      .messages {
        height: rem(300px);
        overflow-y: auto;

        .message {
          box-sizing: border-box;
          padding: 0.5em 0.8em;
          margin: $spacing-s 0.3em;
          background-color: darken($clr10, 5%);
          border-radius: 0 1.125rem 1.125rem 1.125rem;
          min-height: 2.25rem;
          width: fit-content;
          box-shadow: 0 0 2rem rgba($homeClr1, 0.075), 0rem 1em 1em -1em rgba($homeClr1, 0.1);

          &.owner {
            align-self: flex-end;
            margin: $spacing-s 0.3em;
            border-radius: 1.125rem 0 1.125rem 1.125rem;
            background: darken(rgb(120, 124, 149), 5%);
            color: $sClr6;
          }

          &.parker {
            margin: 1em 1em 1em auto;
            border-radius: 1.125rem 0 1.125rem 1.125rem;
            background: yellow;
            color: $clr1;
          }

          .typing {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            margin-right: 0rem;
            box-sizing: border-box;
            background: #ccc;
            border-radius: 50%;

            &.typing-1 {
              animation: typing 3s infinite;
            }
            &.typing-2 {
              animation: typing 3s 250ms infinite;
            }
            &.typing-3 {
              animation: typing 3s 500ms infinite;
            }
          }
        }
      }
    }

    .chat-input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: rem(8px);
      background-color: $tools-color;
      border-radius: 0 0 6px rem(6px);

      input {
        font-family: inherit;
        background-color: $sClr6;
        &::placeholder {
          color: black;
        }
      }

      .btn-send {
        color: $sClr6;
        font-size: 1.8rem;
        margin-inline-start: rem(3px);

        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}
