.car-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;



    .car-footer-div-1 {
        display: flex;
        flex-direction: row;
        gap: 1em;
        }

    .car-footer-div2 {
        display: flex;
        gap: 1em;
    }

}
.mobile-edit-layout {
    .car-footer {
        padding: 1em;

        .car-footer-div-1 {
            font-size: rem(12px);
            flex-direction: column;

        }

        .car-footer-txt1 {
            font-size: rem(12px);
        }
    }
}
