// todo - Themes Variables

// ! Waps themes variables
$caramel: linear-gradient(90deg, rgba(227, 203, 170, 1) 0%, rgba(212, 182, 141, 1) 43%);
$lightCaramel: #e4c3ad;
$whiteSmoke: whitesmoke;
$aliceblue: aliceblue;
$black: black;
$ligthBlack: #2c3e50;
$white: white;
$whitish: #f7f8fc;
$gray: gray;
$darkGray: #2f2e2e;
$blue: #0c6efc;
$lightBlue: #53afff;
$darkBlue: #0f124d;
$purple: #674fe6;
$lightPurple: #404e9c;
$beige: #faad4d;
$green: #008463;
$orange: #ff7055;

//* ------------------------------------ * //

// ! Themes palettes

// Happy Theme Colors
$happy-primary: #ffcc00;
$happy-secondary: #ff9900;
$happy-text: #007bff;
$happy-link: #007bff;
$happy-title: #007bff;

// Exciting Theme Colors
$exciting-primary: #e63946;
$exciting-secondary: #f1faee;
$exciting-text: #000;
$exciting-link: #000;
$exciting-title: #000;

// Sunset Theme Colors
$sunset-primary: #ff6e40;
$sunset-secondary: #ffd365;
$sunset-text: #000;
$sunset-link: #000;
$sunset-title: #000;

// Majestic Theme Colors
$majestic-primary: #9d4edd;
$majestic-secondary: #d8b4fe;
$majestic-text: #fff;
$majestic-link: #fff;
$majestic-title: #fff;

// Calm Theme Colors
$calm-primary: #a0c4ff;
$calm-secondary: #bdb2ff;
$calm-text: #000;
$calm-link: #000;
$calm-title: #000;

// Forest Theme Colors
$forest-primary: #2a9d8f;
$forest-secondary: #e9c46a;
$forest-text: #fff;
$forest-link: #fff;
$forest-title: #fff;

// Desert Theme Colors
$desert-primary: #e76f51;
$desert-secondary: #f4a261;
$desert-text: #fff;
$desert-link: #fff;
$desert-title: #fff;

// Night Theme Colors
$night-primary: #03071e;
$night-secondary: #9d0208;
$night-text: #fff;
$night-link: #fff;
$night-title: #fff;

// Volcanic Theme Colors
$volcanic-primary: #ffc8dd;
$volcanic-secondary: #ffafcc;
$volcanic-text: #000;
$volcanic-link: #000;
$volcanic-title: #000;

// Paradise Theme Colors
$paradise-primary: #1b98e0;
$paradise-secondary: #e8f1f2;
$paradise-text: #fff;
$paradise-link: #fff;
$paradise-title: #fff;
