.portfolio-review-section {
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 2em;
  

  .portfolio-review-text-1 {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-size: rem(60px);
    font-weight: 500;
  }

  .portfolio-review-image {
    grid-column: 2/3;
    width: 20%;
    align-self: end;
  }

  .portfolio-review-text-2 {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
  }

  .portfolio-review-text-3 {
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: rem(13px);
    font-style: italic;
  }

  .portfolio-review-image-profile {
    max-width: 5%;
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: end;
  }
}

.mobile-edit-layout {
  .portfolio-review-section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .portfolio-review-image {
      align-self: start;
    }

    .portfolio-review-text-1 {
      font-size: rem(30px);
      margin-bottom: 1em;
    }

    .portfolio-review-image-profile {
      align-self: start;
    }
  }
}

.tablet-edit-layout {
  .portfolio-review-section{
margin-left: 3em;
  }
  .portfolio-review-text-1 {
    font-size: rem(50px);
  }

  .portfolio-review-text-2 {
    width: rem(500px);
  }
}