.startup-num-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 80px;
  padding: 2em 4.5em;
  font-family: 'space grotesk', sans-serif;

  .startup-num-text-1 {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-size: rem(70px);
    font-weight: 700;
    margin-top: -0.7em;
  }

  img {
    width: 25%;
  }

  h1 {
    padding: 0.2em;
    // color: white;
  }

  .startup-num-section-box-1,
  .startup-num-section-box-2,
  .startup-num-section-box-3 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;

    p {
      text-align: center;
      font-weight: 400;
      max-width: 300px;
      line-height: 1.5;
    }

    h1 {
      padding: 0.2em;
    }
  }
}

.tablet-edit-layout {
  .startup-num-section {
    padding: 1em;
    gap: 0em;
    .startup-num-text-1 {
      font-size: rem(40px);
      text-align: center;
    }

    .startup-num-section-box-1,
    .startup-num-section-box-2,
    .startup-num-section-box-3 {
      p {
        font-size: rem(16px);
        padding: 0;
        max-width: 180px;
      }
    }
  }
}

.mobile-edit-layout {
  .startup-num-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 5em;
  }

  .startup-num-text-1 {
    font-size: rem(30px);
    text-align: center;
    line-height: 1.5;
  }

  .startup-num-section-box-1,
  .startup-num-section-box-2,
  .startup-num-section-box-3 {
    p {
      font-size: rem(16px);
      padding: 1em;
    }
  }
}
