.foody-social {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 5em;

  @media (max-width: 600px) {
    gap: 2em;
  }

  svg {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;

    &:hover {
      scale: 1.05;
    }

    @media (max-width: 600px) {
      width: 1em;
      height: 1em;
    }
  }
}

.tablet-edit-layout {
  .foody-social {
    padding: 1.5em;
    gap: 3em;

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }
}

.mobile-edit-layout {
  .foody-social {
    gap: 2em;
    svg {
      width: 1em;
      height: 1em;
    }
  }
}
