.cool-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    height: rem(550px);
    background-color: #f5e0e5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    .cool-contact-div {
        display: flex;
        flex-direction: column;
        padding: 1em 0.2em; 
        background-color: #ffffff;
        border-radius: 12px;
        width: 400px;
        align-items: center;

        .cool-contact-div-txt1{
            text-align: center;
            font-size: rem(20px);
            font-weight: 500;
        }

        .cool-contact-div-txt2{
            text-align: center;
            font-size: rem(13px);
            font-weight: 300;
            width: 75%;
        }

        .cool-contact-input1{
            background-color: #f0f4f5;
            height: 50px;
            padding-left: 16px;
            width: 75%;
            
        }

        .cool-contact-input2{
            background-color: #f0f4f5;
            height: 50px;
            padding-left: 16px;
            width: 75%;
        }

        .cool-contact-input3{
            background-color: #f0f4f5;
            height: 120px;
            padding-left: 16px;
            width: 75%;
        }

        .cool-contact-input3::placeholder{
            position: relative;
            top: -35%;
        }
    }

    .cool-contact-btn{
        border: none;
        border-radius: 4px;
        background-color: #f23292;
        color: white;
        text-transform: uppercase;
        padding: 10px 60px;
        font-weight: 500;
        letter-spacing: 2px;
    }

}