@font-face {
  font-family: 'Nunito';
  src: url(/fonts/Nunito/NunitoSans.ttf);
}

@font-face {
  font-family: 'OpenSans';
  src: url(/fonts/OpenSans/OpenSans.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(/fonts/Oswald/OswaldRegular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/RobotoCondensed-Regular.ttf);
}
